{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<!-- contact banner -->
<section class="w3l-about-breadcrumb text-center">
  <div class="breadcrumb-bg breadcrumb-bg-about py-5">
      <div class="container py-lg-5 mt-5">
          <div class="banner-info-grid mt-5">
              <h2 class="w3l-title-breadcrumb">Password Change Page</h2>
          </div>
          <ul class="breadcrumbs-custom-path">
              <li><a href="{% url 'index' %}">Account</a></li>
              <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>Password Change</li>
          </ul>
      </div>
  </div>
</section>
<!-- //contact banner -->
<main> 
    <div class="container py-5 mt-5">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3 border shadow py-2'>
    <h1 class='text-center'>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
</div>
</section>
</div>
</main>
{% endblock %}
