{% extends 'base.html' %}
{% block title %}<title>Blog</title>{% endblock %}
{% load static %}

  {% block content %}
<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-3">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Blog Posts</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>Blog Posts</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Services banner -->

  
  <div class="container mt-5">
    <h3 class="fw-bolder mb-1">Trending Posts</h3>
    <hr>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in posts %}
      <div class="col">
        <div class="card h-100">
          <a href="{% url 'detail' post.slug %}">
          <img src="{{post.image.url}}" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <a href="{% url 'category' post.category %}">
            <div class="btn btn-primary active bg-gradient rounded-pill mb-2">{{post.category}}
            </div>
            </a>
            <a href="{% url 'detail' post.slug %}">
            <h5 class="card-title">{{post.title}}</h5>
          </a>
            <p class="card-text">{{post.body|safe|truncatewords:20}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Posted on {{post.created_on|date:"M d, Y"}}</small>
            <p class="text-muted">Author: {{post.writer.first_name}} {{post.writer.last_name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
   <!-- PAGINATION
                ================================================== -->
                <nav class="mt-5" aria-label="Page navigationa">
                  <ul class="pagination justify-content-center">
                      <li class="page-item">
                          {% if posts.has_previous %}
                          <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                          </a>
                      </li>
                      {% endif %}
                      {% for i in posts.paginator.page_range %}
                      {% if posts.number == i %}
                      <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                      {% endfor %}
                      <li class="page-item">
                          {% if posts.has_next %}
                          <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                          </a>
                          {% endif %}
                      </li>
                  </ul>
              </nav>
  </div>
  <br><br>
  {% endblock content %}