{% extends 'base.html' %}
{% block title %}<title>Create Post</title>{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

  {% block content %}
<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-3">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Blog Posts</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>Blog Posts</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Services banner -->
<div class="container mt-5" id="container">
    {% if request.user.is_authenticated %}
    <h3 class="text-center"><strong>Create An Article </strong></h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        {{form.media}}
        <button class="btn btn-primary" type="submit" formnovalidate="formnovalidate">Submit</button>
    </form>
    {% else %}
    Sorry, You are not allowed here. Please <a href="{%  url 'account_login' %}">login.</a>
{% endif %}
</div>
<br><br>

  {% endblock content %}