{% extends 'base.html' %}
{% block title %}<title>Myprojects</title>{% endblock %}

  {% block content %}

  {% load static %}


<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">My Latest Works</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> My Latest Works</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Services banner -->


<div class="service-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
            <h3 class="w3l-title-main">My Latest Works</h3>
        </div>
        <div class="row justify-content-center">
            {% for project in projects %} 
            <div class="col-lg-4 col-md-6 my-2">
                <div class="about-single h-100">
                    <div class="about-icon mb-4">
                        <span class="image-block">
                            <a href="{% url 'portfolio_detail' project.slug %}">
                                <div class="content-overlay"></div>
                                <img src="{{project.image.url}}" class="img-fluid w3layouts agileits" alt="portfolio-img">
                            </a>
                        </span>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="">{{project.title}}</a></h5>
                        <p>{{project.description|truncatewords:15|safe}}</p>
                        <p class="btn btn-primary my-2"><a href="{% url 'portfolio_detail' project.slug %}" class="text-white">Read More</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}