{% extends 'base.html' %}
{% block title %}<title>{{project.title }}</title>{% endblock %}

{% load static %}

  {% block content %}
<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">My Latest Works</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> My Latest Works</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Services banner -->

<div class="container-sm mt-5">
  <div class="card mb-3">
    <img src="{{project.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <br>
      <h3 class="card-title">{{project.title}}</h3>
      <p class="card-text">{{ project.description|safe}}</p>
      {% if project.video  %}  
      <div class="row">
        <h3 class="text-center">Watch Project video</h3>
        <div class="col-md-3 ms-md-auto">
          <video width="280px" height="400px"  controls>
            <source src="{{project.video.url}}" type="video/mp4">
          </video>
        </div>
        <div class="col-md-3 ms-md-auto"></div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

  {% endblock content %}